.bg-container{
    display: flex;
    flex-direction: column;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 60px;
}
.dashboard-container{
    background-color: rgb(242, 246, 249);
    height: calc(100vh - 60px);
    width: 100%;
    padding-left: 20px;
}
.dashboard-heading{
    font-size: 38px;
    color: rgb(22, 6, 76);;
    font-weight: 500;
    margin: 0px;
    margin-left: 20px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.notifications-loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.form-container {
  width: 100%;
  max-width: 320px;
  padding: 30px;
  background-color: rgb(211, 239, 250);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(43, 153, 189);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.increase-width{
  width: 650px;
}
.form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.decrease-form-width{
  width: 320px;
}
.form-heading{
    font-size: 22px;
    color: rgb(22, 6, 76);;
    font-weight: 500;
    margin: 0px;
    margin-left: 20px;
}
.label{
    font-size: 16px;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

.input{
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9f9f9;
  color: #333;
}

.input:focus {
  border-color: #11345a;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
  background-color: #fff;
}

.required{
    color: rgb(207, 34, 34);
    margin-top: 0px;
}

.input-container{
    margin: 10px;
    width: 300px;
}

.button{
    background-color: #007bff; /* Primary blue */
    margin-top: 10px;
  color: #fff;
  padding: 12px 24px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

.button:hover{
  background-color: #0056b3;
  box-shadow: 0 6px 10px rgba(0, 91, 187, 0.4);
}

.button:active {
  background-color: #004494;
  transform: scale(0.98);
}

.buttons-container{

  width: 100%;
  display: flex;
  justify-content: start;
}

.delete-btn{
  background-color: rgb(202, 48, 48);
  margin-left: 170px;
}

.delete-btn:hover{
  background-color: #b30000;
  box-shadow: 0 6px 10px rgba(0, 91, 187, 0.4);
}